body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}

div.background {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: opacity 1s ease-in-out;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/Poppins-Regular.ttf');
}

div.info {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

h1.name {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    margin: 0;
}

h3.info {
    color: rgb(189, 189, 189);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 1.2rem;
}

img.avatar {
    width: 5rem;
    border-radius: 50%;
    border: 4px solid #fff;
    transition: transform 0.3s ease;
}

img.avatar:hover {
    transform: scale(1.1);
}

a.btn-badge {
    background-color: rgb(66, 66, 66);
    padding: 12px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
}

a.btn-badge:hover {
    background-color: rgb(96, 96, 96);
}

a.btn-badge img {
    width: 20px;
    height: 20px;
}

a.btn-badge div {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    text-align: center;
    display: block;
    padding-top: 3px;
}

div.container[type=badges] {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

hr {
    width: 100%;
    margin: 1rem 0;
    border-color: #444;
}

div.container[type=background] {
    background-color: rgba(37, 37, 37, 0.85);
    padding: 2rem 2rem 3rem;
    min-width: 20%;
    max-width: 80%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

div.video-title-main {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

div.video-title {
    height: 20px;
    position: relative;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    white-space: nowrap;
}

@media screen and (max-width: 800px) {
    h3.info {
        font-size: 1rem;
    }

    div.video-title {
        width: 55%;
    }

    div.video-name a {
        position: absolute;
        animation: scroll-left 15s linear infinite;
    }

    @keyframes scroll-left {
        0% {
            transform: translateX(50%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}

div.container[type=dev-info] {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

div.container[type=profile-img] {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container[type=video-player] {
    background-color: rgb(66, 66, 66);
    padding: 0.5rem 0.7rem 0.1rem;
    border-radius: 10px;
}

div.volume-control {
    display: flex;
    gap: 0.3rem;
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
}

div.volume-icon {
    width: 20px;
}

div.play-icon {
    cursor: pointer;
    width: 10px;
    padding: 0 5px 0 0;
}

.slider {
    -webkit-appearance: none;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    border-radius: 15px;
    transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #7c7c7c;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
    background: #6d6d6d;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.opacity-0 {
    opacity: 0;
}

.opacity-100 {
    opacity: 1;
}

video {
    filter: blur(5px);
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -1;
    transition: filter 0.5s ease;
}

video:hover {
    filter: blur(0);
}

div.loading-page {
    z-index: 3;
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.loader {
    border: 8px solid #4e4e4e;
    border-radius: 50%;
    border-top: 8px solid #ffffff;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

.hidden {
    display: none;
}

.btn {
    padding: 0.5rem 1rem;
    background-color: inherit;
    color: white;
    font-size: 1.2rem;
    border: 1px solid #fff;
    border-style: double;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    color: black;
    background-color: white;
}

.view-count-container {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: #fff;
}

#view-counter {
    color: #ffcc00;
    font-size: 20px;
    font-weight: 700;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
